@using DuplexCenima.Data.ViewModel;
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping Cart Summary";
}

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2> Your Shopping Cart Summarry</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Select Amount</th>
                    <th>Movie</th>
                    <th>Price</th>
                    <th>SubTotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.Movie.Price).ToString("c"))</td>
                        <td class="align-middle">
                                <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart"
                                   asp-route-id="@item.Movie.Id">
                            <i class="bi bi-cart-dash"></i>
                        </a>
                        |
                        <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" 
                            asp-route-id="@item.Movie.Id">
                            <i class="bi bi-cart-plus"></i>
                        </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total: </b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="text-center">
            <div class="btn-group">
                   @*  <a class="btn btn-outline-primary" asp-action="CompleteOrder">
                        Complete Order
                    </a> *@
                    <div id="paypal-btn"></div>
                    |
                <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">
                    add More items

                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>


@section Scripts{

    <scritp src="https://www.paypalobjects.com/api/checkout.js"></scritp>
    
    <script>
        paypal.button.render({
            //configure enviroment
            env: 'sandbox',
            client: {
                sandbox: 'ASC-70E6qX7Mn7YMYly-v5-yXuECldxyI3JbAc1aHxe_blzY_GstjuRGPHRbVPIv-2Tnbbb6k3Y7lFGS'
            },
                    //customise button
                    locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            //set up a payment 
            payment: function (data, actions) {
                console.log("payment set up");
            }
            //execute the payment
                    onAuthorize: function (data, actions) {
                console.log("payment executed");
            }
        }, '#paypal-btn');
    </script>

}






